.liquid__transition__effect {
  mix-blend-mode: darken;
}
.liquid__transition__effect,
.liquid__transition__effect__final__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  object-fit: cover;
  display: none;
  opacity: 0;
}
.liquid__transition__effect__active {
  display: block;
  opacity: 1;
}
.liquid__transition__effect__final__frame__active {
  display: block;
  opacity: 1;
  transition: none;
}
.liquid__transition__effect__final__frame__fade__out {
  transition: opacity 3s;
  opacity: 0;
}
