.portfolio__work__section {
  flex-direction: column;
  margin: var(--spacing__xl) 0;
}
.portfolio__work__section__items__container,
.portfolio__work__section__title__container {
  flex: 1;
}
.portfolio__work__section__title__container {
  text-align: center;
}
.portfolio__work__section__items__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: var(--spacing__md);
  flex-wrap: wrap;
}
.portfolio__work__section__item__container {
  max-width: 229px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing__md);
}
.portfolio__work__section__item__img {
  height: 133px;
}
.portfolio__work__section__item__title {
  color: var(--color__primary);
  text-align: center;
}
.portfolio__work__section__item__img__container {
  position: relative;
}
@media (max-width: 1050px) {
  .portfolio__work__section__items__container {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__work__section {
    gap: 4rem;
  }
  .portfolio__work__section__items__container {
    gap: 3rem;
  }
}
